.row{
    margin-left: 30px;
    color: white;
    overflow: auto;
    white-space:nowrap;
    width: 1400px;

}

.head{
    position: fixed;
    height: 60px;
}


.posters{
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;

    

}

.posters::-webkit-scrollbar{
    display: none;
}




.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 40px;

    
}

.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 20px;
}

.poster:hover{
    transform: scale(1.1);
}




